@import "../../../../style/_variable.scss";

a:hover, a:focus, a:active {
  text-decoration: none;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.link-card {
  width: 100%;
  height: 100px;
  padding: 10px 18px;
  border-radius: 5px;
  overflow: hidden;

  background-color: #fff;
  box-shadow: 0 3px 3px rgba(170,170,170,0.2);

  transition: box-shadow .2s;

  &:hover {
    box-shadow: 0 3px 3px rgba(170,170,170,0.5);
  }

  figure {
    display: flex;
    align-items: center;

    cursor: pointer;

    width: 100%;

    img {
      width: 32px;
      height: 32px;
      margin-right: 10px;

      border-radius: 16px;
    }

    figcaption {
      color: #333;
      font-size: 18px;
      font-weight: 500;
    }

    &:hover {
      figcaption {
        color: #38B7EA;
      }
    }
  }

  .tooltip-url {
    z-index: 10;
    position: fixed;

    padding: 10px;
    border-radius: 5px;

    background-color: #f9f9f9;
    box-shadow: 0 3px 3px rgba(170,170,170,0.2);

    animation: zoom ease 250ms;
    transform-origin: top left;

    // 手机屏幕上隐藏工具提示
    @media screen and (max-width: %xs-max-width) {
      display: none;
    }

    span {
      color: #171717;
    }
  }

  .desc {
    display: inline-block;
    max-width: 90%;
    height: 1em;
    margin: 8px 0;
    overflow: hidden;

    font-size: 12px;
    font-weight: 900;
    text-overflow: ellipsis;
    color: #666;
  }

  .count {
    display: flex;
    align-items: center;

    position: relative;
    margin: 0;
    font-weight: 900;

    span:before {
      margin-right: 8px;
    }

    .watch {
      font-size: 14px;
      color: #bbb;
    }

    .good {
      position: absolute;
      right: 25%;
      font-weight: 500;

      &.active {
        color: #38B7EA;
        font-size: 14px;
      }
    }
  }
}
