* {
  box-sizing: border-box;
}

a {
  &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
  }
}

.body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .main {
    position: absolute;
    left: 180px;
    right: 0;

    padding-top: 20px;
  }

}
