.app-card {
  width: 100%;
  // height: 200px;

  overflow: hidden;

  .logo-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 105px;
    border-radius: 5px;

    // background-color: #0e2426;

    img {
      width: 60px;
      height: 60px;
    }

    .platform-mask {
      visibility: hidden;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      height: 0;
      padding-right: 10px;

      transition: all .3s;

      span {
        margin-left: 10px;

        color: #fff;
        font-size: 14px;
      }
    }

    &:hover {
      .platform-mask {
        visibility: visible;

        height: 24px;
        background-color: rgba(0, 0, 0, .8);
      }
    }
  }

  .info {
    .name {
      margin: 5px 0;

      color: #171717;
      font-size: 16px;
      font-weight: 900;
    }

    .desc {
      max-width: 80%;
      margin: 0;
      overflow: hidden;

      color: #bbb;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
