* {
  box-sizing: border-box;
}

.tab {
  position: relative;

  width: 100%;
  height: 30px;
  margin-top: 17px;

  cursor: pointer;

  .buttons {
    display: flex;
    align-items: center;

    position: absolute;
    right: 0;
    width: 128px;
    height: 100%;

    box-shadow: #e3e3e3 0px 0px 6px 0px;

    span {
      display: inline-block;
      width: 50%;
      height: 100%;
      line-height: 30px;

      text-align: center;
      font-size: 16px;
      font-weight: 500;

      &:before {
        margin-right: -7px;
      }

      &:nth-child(1) {
        border-radius: 5px 0 0 5px;
      }

      &:nth-child(2) {
        border-radius: 0 5px 5px 0;
      }

      &.active {
        background-color: #171717;
        color: #fff;
      }
    }
  }
}
